body{
    margin: 0 auto;
}

/* .container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
} */

.header {
    background-color: #3B6164;
    position: relative;
    border-radius: 0 0 0 30px;
    width: 100%;
    height: 54px;
    padding-top: 10px;
} 
.contact-left{
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
    /* position: fixed; */
    display: inline;
    float: left;
}
.whatsapp, .mail{
    /* align-items: center; */
    justify-content:center;
    display: inline;
    color: white;
    font-size: 12px;
}
.mail{
    align-items: center;
}

.contact-right{
    float: right;
    /* justify-content: center; */
    /* display: flex; */
    margin: auto 200px;
}
/* .facebook, .youtube, .instagram{
    display: inline;
} */

/* 
.material-icon.white{
    color: white;
} */

.navigation{
    padding: auto 8%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    /* float: left; */
    align-items: center;
    /* margin-left: 8%; */
}

.logo-img{
    height: 54px;
    margin: auto 5px;
    float: left;
}

.logo-text{
    color: #3B6164;
    font-family: 'Poppins', sans-serif;
    /* margin-left: 5px; */
    /* width: 500px; */
}

.logo-text .title{
    /* font-size: 20;
    font-weight: 700; */

    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
}
.logo-text .subtitle{
    /* font-size: 10pt;
    font-weight: 300; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.nav-items{
    padding: 0 ;
    display: flex;
    align-items: center;
    margin: auto 0;
    /* float: right; */
    font-size: 10pt;
    
}

.nav-items li{
    list-style: none;
    /* display: block; */
    /* margin: 0 15px; */
}
.nav-items li button{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    opacity: 50%;
    font-size: 14px;
}
.nav-items li button:hover{
    background-color: #3B6164;
    color: white;
    opacity: 100%;
}
.nav-items li button:focus{
    background-color: #3B6164;
    color: white;
    /* border: 15px #3B6164; */
    opacity: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown-item{
    /* align-items: center; */
    text-align: center;
    height: 33.47px
}
/* .nav-items li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    opacity: 50%;
    font-size: 14px;
} */

/* CAROUSEL */
.carousel-item img {
    width: 100%;
}

/* SAMBUTAN KEPALA SEKOLAH */
.sambutanKepalaSekolah{
    /* align-items: center; */
    display: inline;
}

/* #foto-kepalaSekolah{
    background: yellow;
    width: 341.63px;
}

#content-kepalaSekolah{
    background: cyan;
    float: right;
    width: 640px;
} */

.row1{
    display: flex;
    height: 638px;
    align-items: center;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.col{
    /* align-items: center; */
    flex-basis: 50%;
    /* margin-left: 50px; */
    margin: auto ;
}
.col h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.col hr{
    margin: 35px 150px; 
    width: 160px;
    height: 5px;
    background: #3B6164;
} 
.col p{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    opacity: 70%;
    width: 600px;
}

/* .kartu{
    border: 2px solid red;
    border-radius: 3%;
    width: 332.89px;
    margin: auto;
}
.kartu img{
    margin: 0px;
}

.kartu-text{
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: yellow;
} */

.kartu{
    background-color: lightgray;
    /* background: url(./images/v0_256.png); */
    border: 1px solid white;
    /* background-repeat: no-repeat; */
    display: inline-block;
    border-radius: 1%;
    box-shadow: -2px 2px 15px -5px lightslategrey;
    /* height: 435px; */
    height: 475px;
    width: 342px;
    overflow: hidden;
    /* margin-left: 8%; */
}

.img-kartu{
    width: 342px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.kartu-title{
    height: 100px;
    z-index: 2;
    text-align: center;
    background-color: white;
    border-radius: 1%;
    /* padding: auto; */
    font-family: 'Poppins', sans-serif;
    
}
.kartu-title h5{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #3B6164;
}

.row2{
    height: 573px;
    background-color: #3B6164;
    padding: 0 8%;

    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.col2{
    padding: 0 20px;
    align-items: center;
    /* margin: auto ; */
    /* flex-basis: 50%; */
    /* margin-left: 50px; */
    color: white;
    font-weight: 300;
}

.col2 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
/* .col2 h6{
    font-weight: 300;
} */
.col2 hr{
    margin: 35px 0; 
    width: 160px;
    height: 5px;
    background: white;
} 

.col2 p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    width: 448px;
}

.col2 .img-video{
    height: 335px;
    width: 600px;
    /* float: right; */
}


.row3{
    height: 861px;
    background-color:white;

}


/* .card:hover{
    transform: translateY(-10px);
} */

.profil-sekolah{
    padding: 44px 8%;
    width: 100%;
    /* height: 700px; */
    align-content: center;
    justify-content: center;
    font-family: 'Poppins'; 
    background:white; 
    box-shadow: inset 0 2px 7px lightgray;
    /* display: flex; */
}

.profil-sekolah hr{
    margin: 35px auto; 
    width: 160px;
    height: 5px;
    background: #3B6164;
}
.profil-sekolah h1{
    text-align: center; 
    font-family: 'Poppins'; 
    font-weight: 700; 
    font-size: 36px; 
    color: #263138;
}
.profil-sekolah p{
    text-align: center;
}

.profil{
    margin: 75px auto; 
}

.hubungi-kami{
    padding: 44px 8%;
    width: 100%;
    align-content: center;
    justify-content: center;
    font-family: 'Poppins'; 
    background:white; 
    box-shadow: inset 0 2px 7px lightgray;
    /* display: flex; */
}

.hubungi-kami hr{
    margin: 35px 0; 
    width: 160px;
    height: 5px;
    background: #3B6164;
}
.hubungi-kami h1{
    font-family: 'Poppins'; 
    font-weight: 700; 
    font-size: 36px; 
    color: #263138;
}